<!DOCTYPE html>
<html>
<head>
  <title>Emsapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class='container'>
      <%= render 'shared/navbar' %>
      <%= render 'shared/alerts' %>
      <%= yield %>

    </div>
    <%#<script>%>

<%#var chart = c3.generate({%>
  <%#bindto: '#chart',%>
  <%#data: {%>
    <%#x: 'x',%>
    <%#json: [%>
    <%#{'name': '2015-1-1', 'strom': 200, 'gas': 200, 'papier':  400},%>
    <%#{'name': '2015-2-1', 'strom': 100, 'gas': 300, 'papier':  400},%>
    <%#{'name': '2015-3-1', 'strom': 300, 'gas': 200, 'papier':  500},%>
    <%#{'name': '2015-4-1', 'strom': 400, 'gas': 100, 'papier':  500},%>
    <%#{'name': '2015-5-1', 'strom': 400, 'gas': 100, 'papier':  500},%>
    <%#{'name': '2015-6-1', 'strom': 400, 'gas': 100, 'papier':  500},%>
    <%#{'name': '2015-7-1', 'strom': 400, 'gas': 100, 'papier':  500},%>
    <%#{'name': '2015-8-1', 'strom': 400, 'gas': 100, 'papier':  500},%>
    <%#{'name': '2015-9-1', 'strom': 400, 'gas': 100, 'papier':  500},%>
    <%#],%>
    <%#keys: {%>
      <%#x: 'name', // it's possible to specify 'x' when category axis%>
      <%#value: ['strom', 'gas', 'papier'],%>
    <%#}%>
  <%#},%>
  <%#axis: {%>
    <%#x: {%>
       <%#type: 'timeseries',%>
       <%#tick: {%>
         <%#format: '%Y-%m'%>
       <%#}%>
    <%#}%>
  <%#}%>
<%#});%>

    <%#</script>%>
  </body>
</html>
